<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dvpires.guideapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/red_android"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".list.ShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slide.SlideViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".save_data.SharedPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.camera.GuideCameraActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_paths" />
        </provider>

        <activity
            android:name=".camera.camera2.GuideCamera2Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>